@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 2fr 16fr 1fr;
}

.header{
    display: grid;
    background-color: #7dd3fc;
    color: #eff6ff;
    justify-content: left;
    align-items: center;
    padding-left: 48px;
}

.content{
    display: grid;
}

.footer{
    display: grid;
    background-color: #7dd3fc;
}